.container {
	margin-top: 30px;
}
.list {
	&-group {
		    margin: auto;
			width: 700px;
	 		position: relative;
	 		}
	&-btn {
			display: inline-flex;
			justify-content: space-between;
			margin-left: 5px;
		  }
}
.btn {
	  display: inline-flex;
	  justify-content: space-between;
	  margin-left: 5px;
	 }